<?xml version="1.0" encoding="UTF-8"?>
<Cofiguration status="INFO" strict="true" name="log4j2">
	<Properties>
		<Property name="logFilename">logs/log</Property>
	</Properties>
	<Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%M %msg%n"/>
        </Console>
        <File name="MyFile" fileName="${sys:logFilename}" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} %p %M %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console" />
            <AppenderRef ref="MyFile"/>
        </Root>
    </Loggers>
</Cofiguration>